<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="mortgage-calculator.css">

    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/mortgage-calculator.js"></script>



</head>

<body>

    <form action="{% url 'mortgage-calculator' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="name" class="col-2 col-form-label">Name:</label>
            <div class="col-10">
                <input class="form-control" type="text" id="name" name="name" required>
            </div>
        </div>


        <!-- Input Balance -->
        <div class="form-group">
            <label for="balance" class="col-2 col-form-label">Balance:</label>
            <div class="col-10">
                <input class="form-control" type="number" value="{{ balance }}" id="balance" name="balance" required>
            </div>
        </div>

        <!- Input interest rate ->
        <div class="form-group">
            <label for="interest_rate" class="col-2 col-form-label">Interest Rate:</label>
            <div class="col-10">
                <input class="form-control" type="number" value="{{ interest_rate }}" id="interest_rate" name="interest_rate" required>
            </div>
        </div>

        <!- Pick loan term ->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Loan Term
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for loan_term in loan_terms %}
                    <a class="dropdown-item" href="#">{{ loan_term }} years</a>
                {% endfor %}
            </div>
        </div>

        <!- Input start date ->
        <div class="form-group">
            <label for="start_date" class="col-2 col-form-label">Start Date:</label>
            <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="start_date" name="start_date">
            </div>
        </div>

        <!- input end date ->
        <div class="form-group">
            <label for="end_date" class="col-2 col-form-label">End Date:</label>
            <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="end_date" name="end_date" required>
            </div>
        </div>
        <input type="submit" value="Save to Profile">
    </form>

</body>
