body {
  background-color: lightgrey;
  font-family: "sans-serif";
}

h1 {
  text-align: center;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 50%;
  text-align: right;
  margin-top: 8px;
}

input[type=number] {
  width:100px;
	height:30px;
	border-radius:5px;
	background-color: lightblue;
	margin-left:3px;
  margin-bottom:3px;
  position:relative;
}

input[type="number"]:disabled {
  background: #dddddd;
}

input[type=checkbox] {
  width: 20px;
	height: 20px;
  margin-top: 8px;
}

.escrow input[type=checkbox] {
  margin-top: 0px;
}

.amortizeGraph, .amortizeExtraPrincipalGraph {
  display: block;
  margin: 0 auto;
  background-color: white;
}

.interestSaved, .timeSaved {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}